body {
	margin: 0;
	overflow: hidden;
}
#container {
	position: absolute;
	width: 100%;
	height: 100%;
}
#renderer {
	position: relative;
	left: 50%;
	top: 50%;
}
.stack-btn {
	display: inline-block;
	background-color: #484848;
	border-radius: 5px;
	height: 20px;
	width: 26px;
	font-size: 12px;
	margin-right: 1px;
}

.stack-btn img {
	margin-top: 3px;
	margin-left: 5px;
}

.num-btn {
	display: inline-block;
	background-color: #484848;
	border-radius: 5px;
	height: 16px;
	width: 32px;
	font-size: 12pt;
	line-height: 16px;
	text-align: center;
}

.mv-btn {
	display: inline-block;
	background-color: #484848;
	color: #fff;
	border-radius: 5px;
	height: 20px;
	min-width: 20px;
	font-size: 12px;
	margin-right: 1px;
	line-height: 20px;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}
