doctype html
html
  head
    title Start
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Product+Sans")
    meta(charset="utf-8")
  body
    .container
      .valign
        .boxContainer
          .box
            .title.cyan Anime
            ul
              li
                a(href='https://kissanime.ru') Kissanime
              li
                a(href='') 
              li
                a(href='') 
              li
                a(href='') 
              li
                a(href='') 
              li
                a(href='') 
          .box
            .title.blue Social
            ul
              li
                a(href='https://facebook.com') Facebook
              li
                a(href='https://twitter.com') Twitter
              li
                a(href='https://discordapp.com') Discord
              li
                a(href='https://reddit.com') Reddit
              li
                a(href='') 
              li
                a(href='') 
          .box
            .title.red Code
            ul
              li
                a(href='https://github.com') Github
              li
                a(href='https://codepen.io') Codepen
              li
                a(href='') 
              li
                a(href='') 
              li
                a(href='') 
              li
                a(href='') 
          .box
            .title.magenta Games
            ul
              li
                a(href='https://steampowered.com') Steam
              li
                a(href='') 
              li
                a(href='') 
              li
                a(href='') 
              li
                a(href='') 
              li
                a(href='') 
          .box
            .title.green Other
            ul
              li
                a(href='https://youtube.com') YouTube
              li
                a(href='https://twitch.tv') Twitch
              li
                a(href='https://reddit.com/r/unixporn') /r/unixporn
              li
                a(href='http://soundcloud.com/monstercat') Monstercat
              li
                a(href='') 
              li
                a(href='') 
        .search
          form.searchForm(method='GET', action='https://google.com/?q=')
            input.searchInput(type='text', name='q', autofocus='')
      .date
      .time  
    script(src="js/index.js")
