* {
  outline: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 9pt;
  margin: 0;
  padding: 0;
  background: #282828 url("https://tacoanon.github.io/media/city.jpg") no-repeat center fixed;
  overflow: hidden;
}
.valign {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.boxContainer {
  display: flex;
  width: 100%;
  margin-left: -10px;
  margin-bottom: 20px;
}
.box {
  flex: 1;
  margin-left: 20px;
  background: rgba(0,0,0,0.45);
  -webkit-box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.25);
  box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.25);
}
.title {
  background: $grey;
  color: #ebdbb2;
  margin: 5px;
  text-align: center;
}
.title.blue {
  background: #83a598;
}
.title.green {
  background: #b8bb26;
}
.title.red {
  background: #fb4934;
}
.title.yellow {
  background: #fabd2f;
}
.title.magenta {
  background: #d3869b;
}
.title.cyan {
  background: #8ec07c;
}
ul {
  padding: 0;
  list-style: none;
  border: 5px solid rgba(0,0,0,0);
}
a:link,
a:visited {
  color: #ebdbb2;
  text-decoration: none;
  text-align: center;
}
.searchForm {
  padding-left: 26px;
  padding-right: 26px;
}
.searchInput {
  width: 100%;
  max-width: 24em;
  border: none;
  margin: auto;
  display: block;
  padding: 5px 5px;
  background-color: rgba(0,0,0,0.45);
  -webkit-box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.25);
  box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.25);
  font-size: 14pt;
  color: #ebdbb2;
}
.date,
.time {
  color: #ebdbb2;
  top: 20px;
  right: 20px;
  position: fixed;
  font-family: 'Roboto';
  font-weight: 300;
  text-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
}
.time {
  left: 20px;
  right: 0;
}
.font-3em {
  font-size: 3em;
}
.container {
  opacity: 0;
  transition: opacity 1s;
}
